.header {
    height: 80px;
    background-color: $dark-light;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 60px;
    overflow: hidden;
    border-bottom: 2px solid rgba(25, 25, 25, 0.3);
    z-index: 10;
    .ant-row {
        height: 100%;
    }
    
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;    
    &::after {
        content: "";
        height: 50%;
        width: 2px;
        position: absolute;
        right: 0;
        top: 25%;
        background-color: rgba(220, 220, 220, 0.4);
    }
    img {
        height: 55px;
        width: 300px;
        object-fit: cover;
        transform: scale(0.5);
        cursor: pointer;
    }
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    .ant-menu-horizontal {
        width: 100%;
        justify-content: start;
        align-items: center;
        background-color: transparent;
        border: 0;        
        .ant-menu-title-content {
            color: #fff;
        }
        .ant-menu-item-selected {
            .ant-menu-title-content {
                color: tomato;
            }
            &::after {
                border: none !important;
            }
        }
        .ant-menu-item-active {
            &:hover {
                transform: scale(1.1);
                transition: all 0.15s;
            }
            &::after {
                border: none !important;
            }
        }
        .ant-menu-item {
            margin-left: 10px;
            margin-right: 10px;
            &::after {
                border: none !important;
            }
        }
    }
    .ant-menu-title-content {
        font-size: 18px;
    }
}

.header-user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    &__name {
        font-size: 18px;
        margin-right: 15px;
        margin-top: 10px;
        color: white;
    }
    &__avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        background-color: black;
    }
}
