.home {
    .home-main-item {
        min-height: 700px;
        background-color: aquamarine;
        margin: 20px 10px;
        border-radius: 15px;
    }
    .home-sub-item {
        min-height: 400px;
        background-color: rgb(203, 124, 197);
        margin: 20px 10px;
        border-radius: 10px;
    }
}