* {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  font-family: "Poppins";
}
a {
  display: block;
  color: rgb(0, 0, 0);
  &:hover {
    color: rgb(48, 48, 48);
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: rgb(0, 0, 0);
  margin-bottom: 0;
}
p{
  margin-bottom: 0;
}
button {
  cursor: pointer;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $base-color !important;
}

input {
  outline: none !important;
}
h6 {
  font-size: 1.05rem;
}
img{
  object-fit: cover;
}
